﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1218px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:744px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:744px;
  display:flex;
}
#u296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u297 label {
  left:0px;
  width:100%;
}
#u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:32px;
  width:63px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u297 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u297_img.selected {
}
#u297.selected {
}
#u297_img.disabled {
}
#u297.disabled {
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u297_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u298 label {
  left:0px;
  width:100%;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:32px;
  width:63px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u298 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u298_img.selected {
}
#u298.selected {
}
#u298_img.disabled {
}
#u298.disabled {
}
#u298_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u298_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u299 label {
  left:0px;
  width:100%;
}
#u299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:32px;
  width:63px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u299 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u299_img.selected {
}
#u299.selected {
}
#u299_img.disabled {
}
#u299.disabled {
}
#u299_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u299_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u300 label {
  left:0px;
  width:100%;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:48px;
  width:63px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u300 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u300_img.selected {
}
#u300.selected {
}
#u300_img.disabled {
}
#u300.disabled {
}
#u300_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u300_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u301 label {
  left:0px;
  width:100%;
}
#u301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:48px;
  width:63px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u301 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u301_img.selected {
}
#u301.selected {
}
#u301_img.disabled {
}
#u301.disabled {
}
#u301_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u301_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u302 label {
  left:0px;
  width:100%;
}
#u302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:48px;
  width:63px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u302 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u302_img.selected {
}
#u302.selected {
}
#u302_img.disabled {
}
#u302.disabled {
}
#u302_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u302_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:101px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:298px;
  width:97px;
  height:101px;
  display:flex;
}
#u303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:101px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:298px;
  width:102px;
  height:101px;
  display:flex;
}
#u304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:196px;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:98px;
  width:213px;
  height:196px;
  display:flex;
}
#u305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:142px;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:409px;
  width:214px;
  height:142px;
  display:flex;
}
#u306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:133px;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:560px;
  width:214px;
  height:133px;
  display:flex;
}
#u307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:9px;
  width:115px;
  height:23px;
  display:flex;
}
#u308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u309 label {
  left:0px;
  width:100%;
}
#u309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:63px;
  width:63px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u309 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u309_img.selected {
}
#u309.selected {
}
#u309_img.disabled {
}
#u309.disabled {
}
#u309_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u309_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u310 label {
  left:0px;
  width:100%;
}
#u310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:63px;
  width:63px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u310 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u310_img.selected {
}
#u310.selected {
}
#u310_img.disabled {
}
#u310.disabled {
}
#u310_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u310_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u311 label {
  left:0px;
  width:100%;
}
#u311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:66px;
  width:63px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u311 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u311_img.selected {
}
#u311.selected {
}
#u311_img.disabled {
}
#u311.disabled {
}
#u311_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u311_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:9px;
  width:115px;
  height:23px;
  display:flex;
}
#u312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:590px;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:0px;
  width:960px;
  height:590px;
  display:flex;
}
#u313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
