﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1258px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:744px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:744px;
  display:flex;
}
#u1410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:3px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1411 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1411_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:564px;
  width:1px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1412 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1412_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u1413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:564px;
  width:210px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1413 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1413_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:120px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:596px;
  width:206px;
  height:120px;
  display:flex;
}
#u1414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:200px;
  width:126px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1415 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1415_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:164px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:33px;
  width:198px;
  height:164px;
  display:flex;
}
#u1416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:166px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:262px;
  width:210px;
  height:166px;
  display:flex;
}
#u1417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1418 label {
  left:0px;
  width:100%;
}
#u1418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:222px;
  width:62px;
  height:15px;
  display:flex;
}
#u1418 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u1418_img.selected {
}
#u1418.selected {
}
#u1418_img.disabled {
}
#u1418.disabled {
}
#u1418_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:46px;
  word-wrap:break-word;
  text-transform:none;
}
#u1418_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1419 label {
  left:0px;
  width:100%;
}
#u1419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:222px;
  width:46px;
  height:15px;
  display:flex;
}
#u1419 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u1419_img.selected {
}
#u1419.selected {
}
#u1419_img.disabled {
}
#u1419.disabled {
}
#u1419_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:30px;
  word-wrap:break-word;
  text-transform:none;
}
#u1419_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1420 label {
  left:0px;
  width:100%;
}
#u1420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:222px;
  width:72px;
  height:15px;
  display:flex;
}
#u1420 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u1420_img.selected {
}
#u1420.selected {
}
#u1420_img.disabled {
}
#u1420.disabled {
}
#u1420_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:56px;
  word-wrap:break-word;
  text-transform:none;
}
#u1420_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1421 label {
  left:0px;
  width:100%;
}
#u1421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:222px;
  width:60px;
  height:15px;
  display:flex;
}
#u1421 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u1421_img.selected {
}
#u1421.selected {
}
#u1421_img.disabled {
}
#u1421.disabled {
}
#u1421_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:44px;
  word-wrap:break-word;
  text-transform:none;
}
#u1421_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1422 label {
  left:0px;
  width:100%;
}
#u1422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:238px;
  width:72px;
  height:15px;
  display:flex;
}
#u1422 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u1422_img.selected {
}
#u1422.selected {
}
#u1422_img.disabled {
}
#u1422.disabled {
}
#u1422_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:56px;
  word-wrap:break-word;
  text-transform:none;
}
#u1422_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1423 label {
  left:0px;
  width:100%;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:238px;
  width:62px;
  height:15px;
  display:flex;
}
#u1423 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u1423_img.selected {
}
#u1423.selected {
}
#u1423_img.disabled {
}
#u1423.disabled {
}
#u1423_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:46px;
  word-wrap:break-word;
  text-transform:none;
}
#u1423_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1424 label {
  left:0px;
  width:100%;
}
#u1424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:238px;
  width:62px;
  height:15px;
  display:flex;
}
#u1424 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u1424_img.selected {
}
#u1424.selected {
}
#u1424_img.disabled {
}
#u1424.disabled {
}
#u1424_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:46px;
  word-wrap:break-word;
  text-transform:none;
}
#u1424_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:108px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:446px;
  width:206px;
  height:108px;
  display:flex;
}
#u1425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:600px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:0px;
  width:1000px;
  height:600px;
  display:flex;
}
#u1426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:116px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:438px;
  width:214px;
  height:116px;
  display:flex;
}
#u1427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:240px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:610px;
  width:381px;
  height:240px;
  display:flex;
}
#u1428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
