﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:744px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:744px;
  display:flex;
}
#u476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u477 label {
  left:0px;
  width:100%;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:32px;
  width:61px;
  height:15px;
  display:flex;
}
#u477 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u477_img.selected {
}
#u477.selected {
}
#u477_img.disabled {
}
#u477.disabled {
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u477_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u478 label {
  left:0px;
  width:100%;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:32px;
  width:61px;
  height:15px;
  display:flex;
}
#u478 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u478_img.selected {
}
#u478.selected {
}
#u478_img.disabled {
}
#u478.disabled {
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u478_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u479 label {
  left:0px;
  width:100%;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:32px;
  width:61px;
  height:15px;
  display:flex;
}
#u479 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u479_img.selected {
}
#u479.selected {
}
#u479_img.disabled {
}
#u479.disabled {
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u479_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u480 label {
  left:0px;
  width:100%;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:47px;
  width:61px;
  height:15px;
  display:flex;
}
#u480 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u480_img.selected {
}
#u480.selected {
}
#u480_img.disabled {
}
#u480.disabled {
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u480_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u481 label {
  left:0px;
  width:100%;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:47px;
  width:61px;
  height:15px;
  display:flex;
}
#u481 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u481_img.selected {
}
#u481.selected {
}
#u481_img.disabled {
}
#u481.disabled {
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u481_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u482 label {
  left:0px;
  width:100%;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:47px;
  width:61px;
  height:15px;
  display:flex;
}
#u482 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u482_img.selected {
}
#u482.selected {
}
#u482_img.disabled {
}
#u482.disabled {
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u482_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:103px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:311px;
  width:95px;
  height:103px;
  display:flex;
}
#u483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:103px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:311px;
  width:100px;
  height:103px;
  display:flex;
}
#u484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:144px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:414px;
  width:210px;
  height:144px;
  display:flex;
}
#u485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:135px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:567px;
  width:210px;
  height:135px;
  display:flex;
}
#u486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:195px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:112px;
  width:209px;
  height:195px;
  display:flex;
}
#u487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u488 label {
  left:0px;
  width:100%;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:62px;
  width:61px;
  height:15px;
  display:flex;
}
#u488 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u488_img.selected {
}
#u488.selected {
}
#u488_img.disabled {
}
#u488.disabled {
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u488_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u489 label {
  left:0px;
  width:100%;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:62px;
  width:61px;
  height:15px;
  display:flex;
}
#u489 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u489_img.selected {
}
#u489.selected {
}
#u489_img.disabled {
}
#u489.disabled {
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u489_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u490 label {
  left:0px;
  width:100%;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:62px;
  width:61px;
  height:15px;
  display:flex;
}
#u490 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u490_img.selected {
}
#u490.selected {
}
#u490_img.disabled {
}
#u490.disabled {
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u490_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u491 label {
  left:0px;
  width:100%;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:78px;
  width:61px;
  height:15px;
  display:flex;
}
#u491 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u491_img.selected {
}
#u491.selected {
}
#u491_img.disabled {
}
#u491.disabled {
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u491_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u492 label {
  left:0px;
  width:100%;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:78px;
  width:61px;
  height:15px;
  display:flex;
}
#u492 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u492_img.selected {
}
#u492.selected {
}
#u492_img.disabled {
}
#u492.disabled {
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u492_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u493 label {
  left:0px;
  width:100%;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:78px;
  width:61px;
  height:15px;
  display:flex;
}
#u493 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u493_img.selected {
}
#u493.selected {
}
#u493_img.disabled {
}
#u493.disabled {
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u493_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u494 label {
  left:0px;
  width:100%;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:95px;
  width:61px;
  height:15px;
  display:flex;
}
#u494 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u494_img.selected {
}
#u494.selected {
}
#u494_img.disabled {
}
#u494.disabled {
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u494_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:6px;
  width:115px;
  height:23px;
  display:flex;
}
#u495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  height:23px;
  display:flex;
}
#u496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:590px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:960px;
  height:590px;
  display:flex;
}
#u497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
