﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:744px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:744px;
  display:flex;
}
#u740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u741 label {
  left:0px;
  width:100%;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:32px;
  width:61px;
  height:15px;
  display:flex;
}
#u741 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u741_img.selected {
}
#u741.selected {
}
#u741_img.disabled {
}
#u741.disabled {
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u741_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u742 label {
  left:0px;
  width:100%;
}
#u742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:32px;
  width:61px;
  height:15px;
  display:flex;
}
#u742 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u742_img.selected {
}
#u742.selected {
}
#u742_img.disabled {
}
#u742.disabled {
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u742_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u743 label {
  left:0px;
  width:100%;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:32px;
  width:61px;
  height:15px;
  display:flex;
}
#u743 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u743_img.selected {
}
#u743.selected {
}
#u743_img.disabled {
}
#u743.disabled {
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u743_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u744 label {
  left:0px;
  width:100%;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:47px;
  width:61px;
  height:15px;
  display:flex;
}
#u744 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u744_img.selected {
}
#u744.selected {
}
#u744_img.disabled {
}
#u744.disabled {
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u744_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u745 label {
  left:0px;
  width:100%;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:47px;
  width:61px;
  height:15px;
  display:flex;
}
#u745 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u745_img.selected {
}
#u745.selected {
}
#u745_img.disabled {
}
#u745.disabled {
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u745_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u746 label {
  left:0px;
  width:100%;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:47px;
  width:61px;
  height:15px;
  display:flex;
}
#u746 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u746_img.selected {
}
#u746.selected {
}
#u746_img.disabled {
}
#u746.disabled {
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u746_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:103px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:311px;
  width:95px;
  height:103px;
  display:flex;
}
#u747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:103px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:311px;
  width:100px;
  height:103px;
  display:flex;
}
#u748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:144px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:414px;
  width:210px;
  height:144px;
  display:flex;
}
#u749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:135px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:567px;
  width:210px;
  height:135px;
  display:flex;
}
#u750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:195px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:112px;
  width:209px;
  height:195px;
  display:flex;
}
#u751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u752 label {
  left:0px;
  width:100%;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:62px;
  width:61px;
  height:15px;
  display:flex;
}
#u752 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u752_img.selected {
}
#u752.selected {
}
#u752_img.disabled {
}
#u752.disabled {
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u752_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u753 label {
  left:0px;
  width:100%;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:62px;
  width:61px;
  height:15px;
  display:flex;
}
#u753 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u753_img.selected {
}
#u753.selected {
}
#u753_img.disabled {
}
#u753.disabled {
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u753_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u754 label {
  left:0px;
  width:100%;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:62px;
  width:61px;
  height:15px;
  display:flex;
}
#u754 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u754_img.selected {
}
#u754.selected {
}
#u754_img.disabled {
}
#u754.disabled {
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u754_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u755 label {
  left:0px;
  width:100%;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:78px;
  width:61px;
  height:15px;
  display:flex;
}
#u755 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u755_img.selected {
}
#u755.selected {
}
#u755_img.disabled {
}
#u755.disabled {
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u755_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u756 label {
  left:0px;
  width:100%;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:78px;
  width:61px;
  height:15px;
  display:flex;
}
#u756 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u756_img.selected {
}
#u756.selected {
}
#u756_img.disabled {
}
#u756.disabled {
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u756_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u757 label {
  left:0px;
  width:100%;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:78px;
  width:61px;
  height:15px;
  display:flex;
}
#u757 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u757_img.selected {
}
#u757.selected {
}
#u757_img.disabled {
}
#u757.disabled {
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u757_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:6px;
  width:115px;
  height:23px;
  display:flex;
}
#u758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  height:23px;
  display:flex;
}
#u759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:590px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:960px;
  height:590px;
  display:flex;
}
#u760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
