﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:744px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:744px;
  display:flex;
}
#u572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u573 label {
  left:0px;
  width:100%;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:32px;
  width:61px;
  height:15px;
  display:flex;
}
#u573 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u573_img.selected {
}
#u573.selected {
}
#u573_img.disabled {
}
#u573.disabled {
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u573_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u574 label {
  left:0px;
  width:100%;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:32px;
  width:61px;
  height:15px;
  display:flex;
}
#u574 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u574_img.selected {
}
#u574.selected {
}
#u574_img.disabled {
}
#u574.disabled {
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u574_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u575 label {
  left:0px;
  width:100%;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:32px;
  width:61px;
  height:15px;
  display:flex;
}
#u575 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u575_img.selected {
}
#u575.selected {
}
#u575_img.disabled {
}
#u575.disabled {
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u575_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u576 label {
  left:0px;
  width:100%;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:47px;
  width:61px;
  height:15px;
  display:flex;
}
#u576 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u576_img.selected {
}
#u576.selected {
}
#u576_img.disabled {
}
#u576.disabled {
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u576_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u577 label {
  left:0px;
  width:100%;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:47px;
  width:61px;
  height:15px;
  display:flex;
}
#u577 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u577_img.selected {
}
#u577.selected {
}
#u577_img.disabled {
}
#u577.disabled {
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u577_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u578 label {
  left:0px;
  width:100%;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:47px;
  width:61px;
  height:15px;
  display:flex;
}
#u578 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u578_img.selected {
}
#u578.selected {
}
#u578_img.disabled {
}
#u578.disabled {
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u578_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:103px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:311px;
  width:95px;
  height:103px;
  display:flex;
}
#u579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:103px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:311px;
  width:100px;
  height:103px;
  display:flex;
}
#u580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:144px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:414px;
  width:210px;
  height:144px;
  display:flex;
}
#u581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:135px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:567px;
  width:210px;
  height:135px;
  display:flex;
}
#u582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:195px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:112px;
  width:209px;
  height:195px;
  display:flex;
}
#u583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u584 label {
  left:0px;
  width:100%;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:62px;
  width:61px;
  height:15px;
  display:flex;
}
#u584 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u584_img.selected {
}
#u584.selected {
}
#u584_img.disabled {
}
#u584.disabled {
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u584_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u585 label {
  left:0px;
  width:100%;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:62px;
  width:61px;
  height:15px;
  display:flex;
}
#u585 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u585_img.selected {
}
#u585.selected {
}
#u585_img.disabled {
}
#u585.disabled {
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u585_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u586 label {
  left:0px;
  width:100%;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:62px;
  width:61px;
  height:15px;
  display:flex;
}
#u586 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u586_img.selected {
}
#u586.selected {
}
#u586_img.disabled {
}
#u586.disabled {
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u586_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u587 label {
  left:0px;
  width:100%;
}
#u587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:78px;
  width:61px;
  height:15px;
  display:flex;
}
#u587 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u587_img.selected {
}
#u587.selected {
}
#u587_img.disabled {
}
#u587.disabled {
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u587_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u588 label {
  left:0px;
  width:100%;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:78px;
  width:61px;
  height:15px;
  display:flex;
}
#u588 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u588_img.selected {
}
#u588.selected {
}
#u588_img.disabled {
}
#u588.disabled {
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u588_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u589 label {
  left:0px;
  width:100%;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:78px;
  width:61px;
  height:15px;
  display:flex;
}
#u589 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u589_img.selected {
}
#u589.selected {
}
#u589_img.disabled {
}
#u589.disabled {
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u589_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u590 label {
  left:0px;
  width:100%;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:95px;
  width:61px;
  height:15px;
  display:flex;
}
#u590 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u590_img.selected {
}
#u590.selected {
}
#u590_img.disabled {
}
#u590.disabled {
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u590_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:6px;
  width:115px;
  height:23px;
  display:flex;
}
#u591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  height:23px;
  display:flex;
}
#u592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:590px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:960px;
  height:590px;
  display:flex;
}
#u593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
