﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1255px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:744px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:744px;
  display:flex;
}
#u1368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:3px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1369 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1369_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:564px;
  width:1px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1370 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1370_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u1371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:564px;
  width:210px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1371 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1371_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:120px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:596px;
  width:206px;
  height:120px;
  display:flex;
}
#u1372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:200px;
  width:126px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1373 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1373_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:164px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:33px;
  width:198px;
  height:164px;
  display:flex;
}
#u1374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:166px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:262px;
  width:210px;
  height:166px;
  display:flex;
}
#u1375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1376 label {
  left:0px;
  width:100%;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:222px;
  width:62px;
  height:15px;
  display:flex;
}
#u1376 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u1376_img.selected {
}
#u1376.selected {
}
#u1376_img.disabled {
}
#u1376.disabled {
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:46px;
  word-wrap:break-word;
  text-transform:none;
}
#u1376_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1377 label {
  left:0px;
  width:100%;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:222px;
  width:46px;
  height:15px;
  display:flex;
}
#u1377 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u1377_img.selected {
}
#u1377.selected {
}
#u1377_img.disabled {
}
#u1377.disabled {
}
#u1377_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:30px;
  word-wrap:break-word;
  text-transform:none;
}
#u1377_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1378 label {
  left:0px;
  width:100%;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:222px;
  width:72px;
  height:15px;
  display:flex;
}
#u1378 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u1378_img.selected {
}
#u1378.selected {
}
#u1378_img.disabled {
}
#u1378.disabled {
}
#u1378_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:56px;
  word-wrap:break-word;
  text-transform:none;
}
#u1378_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1379 label {
  left:0px;
  width:100%;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:222px;
  width:60px;
  height:15px;
  display:flex;
}
#u1379 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u1379_img.selected {
}
#u1379.selected {
}
#u1379_img.disabled {
}
#u1379.disabled {
}
#u1379_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:44px;
  word-wrap:break-word;
  text-transform:none;
}
#u1379_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1380 label {
  left:0px;
  width:100%;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:238px;
  width:72px;
  height:15px;
  display:flex;
}
#u1380 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u1380_img.selected {
}
#u1380.selected {
}
#u1380_img.disabled {
}
#u1380.disabled {
}
#u1380_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:56px;
  word-wrap:break-word;
  text-transform:none;
}
#u1380_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1381 label {
  left:0px;
  width:100%;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:238px;
  width:62px;
  height:15px;
  display:flex;
}
#u1381 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u1381_img.selected {
}
#u1381.selected {
}
#u1381_img.disabled {
}
#u1381.disabled {
}
#u1381_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:46px;
  word-wrap:break-word;
  text-transform:none;
}
#u1381_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1382 label {
  left:0px;
  width:100%;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:238px;
  width:62px;
  height:15px;
  display:flex;
}
#u1382 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
}
#u1382_img.selected {
}
#u1382.selected {
}
#u1382_img.disabled {
}
#u1382.disabled {
}
#u1382_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:46px;
  word-wrap:break-word;
  text-transform:none;
}
#u1382_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:108px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:446px;
  width:206px;
  height:108px;
  display:flex;
}
#u1383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:600px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:1px;
  width:1000px;
  height:600px;
  display:flex;
}
#u1384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:116px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:438px;
  width:204px;
  height:116px;
  display:flex;
}
#u1385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:319px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:611px;
  width:520px;
  height:319px;
  display:flex;
}
#u1386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 1px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
